.comment-div
  width: 250px
  border: 1px $dark-gray solid
  border-radius: $curved-box
  font-size: $normal
  padding: 15px
  background: $white
  margin-top: 15px
  input
    margin: 8px

.comment-txt
  height: 41px
  width: 235px
  columns: 30
  resize: none
  position: relative
  right: 10px
  top: -17px
  font-size: 15px
  padding: 5px
  border: none

.comment-name
  position: relative
  left: 10px
  font-weight: 600

.comment-date
  font-size: 13px
  position: relative
  left: 10px

.comment-delete
  position: relative
  left: 200px
  top: -40px

.comment-btn
  width: 200px
  margin-left: 25px

.highlight-comment
  border: 2px $orange solid