@charset "utf-8";
html {
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  position: relative; }

.firepad .powered-by-firepad {
  opacity: 0 !important; }

*:focus {
  outline: 0 !important; }

.full-width {
  width: 100% !important; }

.full-height {
  height: 100% !important; }

#firepad-container {
  width: 100%;
  height: 100%; }

.nav-panel {
  padding: 150px 50px 150px 50px;
  border-right: 2px solid #e5e5e5; }
  .nav-panel .new-doc-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 128px; }
  .nav-panel .nav-btn-group {
    margin-top: 100px; }

.docs-component {
  padding: 150px 150px 150px 100px; }
  .docs-component .docs-list .docs-list-element {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .docs-component .docs-list .docs-list-element .revision-text {
      color: #e5e5e5;
      text-align: right;
      font-style: italic; }

#login-columns {
  height: 100%; }

#center-container {
  height: 10vh;
  width: 20vh;
  background-color: #f7f7f7;
  padding-top: 3vh; }

.primary-blue-btn, #center-container button {
  border: none;
  border-radius: 4px;
  background-color: #3574e0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  height: 32px; }

.white-btn, .dropdown-border, .dropdown-borderless {
  border: 1px #cecece solid;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 500;
  height: 32px; }

.text-btn {
  font-size: 16px;
  background-color: white;
  border: none;
  height: 32px; }
  .text-btn:hover {
    background-color: #f7f7f7; }

.dropdown-border, .dropdown-borderless {
  font-weight: 400; }

.dropdown-borderless {
  border: none; }

.input:focus {
  outline: none !important; }

.white-input {
  border: 1px #cecece solid;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  height: 32px; }

.checkbox {
  height: 50px;
  border: 1px #e5e5e5 solid; }
